# vim: syntax=sh
if type nix &>/dev/null; then
    # https://github.com/nix-community/nix-direnv
    if nix flake metadata &>/dev/null; then
        use flake
    else
        use nix
    fi

    echo "PureScript: $(purs --version)"
    echo "Spago: $(spago --version)"
    echo "purs-tidy: $(purs-tidy --version)"
    echo "Dhall: $(dhall --version)"
fi
